body{
    margin: 0;
    background-color: #f7f8fa;
}

.titulo{
    text-align: center;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin: 20px 0;
}

.main-game {
    height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jogo-memoria {
    display: grid;
    grid-template-areas: 'vermelho verde' 'azul amarelo';
    grid-gap: 20px;
    border: 20px solid #3f3333;
    background-color: #3f3333;
    border-radius: 100%;
    width: 527.97px;
    height: 527.97px;
    left: 536.01px;
    top: 247.02px;
}

.blue {
    grid-area: 'azul';
    background-color: rgb(21, 91, 177);
    border-top-left-radius: 100%;
}

.red {
    grid-area: 'vermelho';
    background-color: rgb(207, 60, 60);
    border-top-right-radius: 100%;
}

.yellow {
    grid-area: 'amarelo';
    background-color: rgb(212, 212, 61);
    border-bottom-right-radius: 100%;
}

.green {
    grid-area: 'verde';
    background-color: rgb(41, 194, 41);
    border-bottom-left-radius: 100%;
}

.selected {
    opacity: 0.3;
}

.game-options{
    position: absolute;
    background-color: #ffffff;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    text-align: center;
    border: 15px solid #3f3333;
}

.game-title {
    font-size: 40px;
    text-transform: uppercase;
    margin: 0;
    padding: 40px 0 15px 0;
}

.gui {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.group {
    margin: 0px 20px;
}

.gui-obs{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #E3E8EA;
    border-radius: 8px;
    align-items: center;
    width: 295.97px;
    height: 55.79px;
    font-size: 16px;    
    color: #6C7577;
    display: flex;
    margin: auto;
}

p{
    margin: auto 0;
}

.img{
    padding: 15px;
}

.gui-label{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}

.gui-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0px 3px 3px rgba(26, 25, 25, 0.295);
    border: 5px solid #444;
    cursor: pointer;
    margin: 10px;
}

.gui-btn:active{
    transform: translate(0, 3px);
    box-shadow: none;
}

.blue.game-pad--active{
    background-color: rgb(141, 207, 228);
}

.red.game-pad--active{
    background-color: rgb(230, 159, 159);
}

.green.game-pad--active{
    background-color: rgb(167, 236, 155);
}

.yellow.game-pad--active{
    background-color: rgb(235, 229, 150);
}

.gui-btn--start {
    background-color: red;
}

.game-pad--btn{
    cursor: pointer;
}

.gui-counter {
    background-color: rgba(58, 24, 23, 0.822);
    font-weight: bold;
    font-family: "Iceland", cursive;
    font-size: 30px;
    text-align: right;
    width: 70px;
    height: 50px;
    border-radius: 15px;
    padding-right: 8px;
    padding-left: 6px;
}

.gui-counter--on {
    color: red;
}